# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries by Data Scientists.
- List Data Science Tools in a markdown cell table.
- Conduct some arithmetic expressions.

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. Julia.
4. JavaScript.
5. Scala.

Some commonly used libraries by Data Scientists include:
1. Scrapy
2. Pandas
3. NumPy
4. Scikit-Learn
5. Matplotlib

| Data Science Tools |
----------------------
| Anaconda |
| Jupyter Notebooks |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [36]:
#Exercise 8 - Create a code cell to multiply and add numbers
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [52]:
#Exercise 9 - Create a code cell to convert minutes to hours
#This will convert 200 minutes to hours by diving by 60.

m= 200/60
print ("200 minutes is equivelent to " + str(round(m)) + " hours.")

200 minutes is equivelent to 3 hours.

## Author
Tanaji A